/* src/components/UserLogOut/UserLogOut.module.scss */
.UserLogOut {
  display: grid;
  gap: 6px;
  font-size: 0.90rem;
}

.name {
  font-weight: 600;
}

.email {
  font-size: 0.85rem;
  opacity: 0.8;
}

.btn {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #991b1b;
  color: #fff;
  max-width: 150px;
  max-height: 100px;
  margin-left: 30px;
}
.btn:hover {
  background: #dc2626;
}